# Logger
LOG_DIR=./logs
LOG_REQUEST_BODY=true
LOG_RESPONSE_BODY=true

# DeepSeek
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_DEFAULT_MODEL=deepseek-v4-flash
DEEPSEEK_PREMIUM_MODEL=deepseek-v4-pro
